!!!
.row
  = image_tag('real_b.png', :class =>"one image")
  %a#about-us.bigger.image.white-text.stroke.text-glow-hover{:href => "/"} Home
%h3.salt.center.rel.stroke.white-text MySong.is

%br
%br
%br
%body.bck
.container.five
  .card.container
    %h4.tit.center-align How does this whole thing work?
    %p.graph.center T-Mix works by using an existing API to locate song that you want to listen to and play them for you.  This API that we use with our App scours all the websites that host radio broadcast. With these two sources we can bring all kinds of music to you via the internet.
  .card.container
    %h4.tit.center-align How can I create a mixtape?
    %p.graph.center You can create a mixtape once you are logged into our App. Once you are logged in, you will hit the create mixtape button with the title and category filled in. Next, you will search for artist for the song you would like to listen to on the mixtape.
  .card.container
    %h4.tit.center-align Why isn't my song playing?
    %p.graph.center Unfortunately your song might not be playing anywhere on the internet at this time.
  .card.container
    %h4.tit.center-align Why does this not work on FireFox?
    %p.graph.center Try updating your flash.
    %br