/* line 2, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
img {
  border: 0px;
}

/* line 6, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.hidden {
  display: none;
  height: 0px;
  width: 0px;
}

/* line 12, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.invisible {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

/* line 19, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
#logo-login {
  margin: 20px;
}

/* line 23, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
#twitter-login {
  color: black;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}

/* line 30, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
#email-login {
  font-size: 25px;
  padding: 21px;
}

/* line 35, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
#signup-button {
  width: 222px;
  height: 50px;
}

/* line 40, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
#separator {
  padding: 5px;
}

/* line 44, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
#target {
  height: 200;
  background-size: 200px;
  background-repeat: no-repeat;
  margin-top: 60px;
}

/* line 51, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.big-box {
  position: relative;
  top: 18px !important;
  left: 20px !important;
  transform: scale(2, 2) !important;
}

/* line 58, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  border-radius: 5px;
  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*-webkit-background-clip: padding-box;*/
  /*-moz-background-clip: padding;*/
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

/* line 89, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.form-box {
  width: 520px !important;
  margin-left: 60px;
}

/* line 94, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.centered {
  text-align: center;
}

/* line 98, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.margin {
  margin: 5px;
}

/* line 102, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.new-account-form {
  color: black;
  background-color: white;
  border: solid;
  border-width: 2px;
  height: 20px;
  text-indent: 5px;
}

/* line 111, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.smallnav {
  padding: 0px 0px 0px 0px !important;
}

/* line 115, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.message {
  color: red;
}

/* line 119, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.away-from-edge {
  margin-left: 10px;
}

/* line 123, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.upload-picture {
  position: relative;
  width: 500px;
  left: 23px;
}

/* line 129, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.left-justify {
  left: 20px !important;
}

/* line 133, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.nocolor {
  background-color: transparent !important;
}

/* line 137, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.pick-song-image {
  background-image: url("/pick-song-image.png") !important;
}

/* line 141, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.hidden-desktop {
  display: none;
}

/* line 145, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
.large-search {
  height: 40px;
  width: 400px;
  font-size: 28px;
}

@media all {
  /* line 152, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
  .big-form {
    font-size: 2rem !important;
    width: 500px !important;
  }

  /* line 156, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
  .img-upload {
    height: 40px;
    padding-top: 10px;
  }
}
@media (max-width: 990px) {
  /* line 164, /Users/Sam/Desktop/Real_My_song_is/app/assets/stylesheets/images.css.scss */
  .hidden-mobile {
    display: none;
  }
}
