= render 'layouts/simplenav'
%h1.away-from-edge
  To Select Your Song
%h1.away-from-edge
  Sign In:
#facebook-container
  = link_to image_tag('facebook-logo.png', :id => "logo-login"), user_omniauth_authorize_path(:facebook), :id => "facebook-link"
#twitter-container
  = link_to image_tag('twitter-logo.png', :id => "twitter-login"), user_omniauth_authorize_path(:twitter), :id => "twitter-link"
#email-login
  = link_to "Use Email", new_registration_path(resource_name), :id => "email-link"

