// Place all the styles related to the song controller here.
/*
 *= require jquery-ui
*/

@import "materialize/components/color";
$primary-color: #595959 !default;
$secondary-color: #DE429B !default;
@import "materialize";
@import "newstyle.css.scss";
@import "player.css.scss";
@import "song.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

#navigation, .navbar, .navbar-default{
  background-image: url("assets/Bckgrnd.jpg");
}

#titled{
  background-image: url("assets/titled.png");
}



.ply {
  padding: 1px 10px 6px 10px;
  margin-right: 7px;
}

.pooop{
  padding: 0.003% 10px 8px 5px;
  margin-bottom: 10px;
  background-color: white;
}

.hi {
  height: 45px;
}

.teot {
 font-size:15px;
}

.btn {
  background-color: DarkTurquoise;
}

.nav-color{
  background-color:#4DBAB8;
}

.new-c{
  border: 1px solid rgba(32, 16, 37, 0.14);
  border-width: 5px;
  border-radius: 10px;
}

.graph{
  padding-left:23%;
  padding-right:23%;
}

.second{
  color: #DE429B !important;
}
#about-us{
  margin-top:10px;
  float:left;
  margin-left:50px;
  padding-right:10px;
}

.custom{
  background: #55C6C3
  }

.home-link{
  margin-top:10px;
  float:left;
  padding-left:20px;
  position:absolute;
}

#us-link{
  margin-top:10px;
  float:left;
  margin-left:50px;
}
.adduser{
  margin-bottom: -20px;
}

.stroke
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}

.container{
  position:relative;
}

.image{
  position: absolute;
}

.one{
  width:100%;
  height:120px;
}

.rel{
  position:relative;
}


.toop {
  margin-top:10px;
  margin-right:5px;
}

.faqm {
  position: fixed;
  z-index: 11;
  bottom: 0px;
  right: 0px;
}

.moover{
  margin-right: 25px;
  padding-top: 5.5%;
}

.biggers {
  margin-top: 15%;
  font-size: 18px;
}

.downli {
  font-size: 72px !important;
  margin-top: 1%;
}

.pagination li {
  text-align:left!important;
}

.centerbutton {
  margin-left: 45%;
}

.five{
  margin-right:5%;
}

.tesst {
  font-size:75px;
}

.fright {
  position:absolute;
  bottom:5px;
  right:7px;
}

.tit{
  font-size: 4vw !important;
}

.subtit{
  font-size: 2.5vw !important;
}

.fourteen{
  font-size: 14px !important;
}

.card.small .card-content {
  max-height: 100%!important;
}

.input-field{
  width:20%!important;
}
.nav-wrapper {
  height: 90px!important;
  /*bottom: 25px!important;*/
}

.bott {
  /*top:0px!important;*/
  bottom:3px!important;
}

.crd{
  font-size: 2vw;
}

.signin {
  position:absolute;
  top: 300px;
  left: 34%;
}

.signup {
  position:absolute;
  top: 300px;
  left: 52%;
}
.fbook {
  position: absolute;
  top: 82%;
  left: 37%;
}

.faced {
  position:absolute;
  top: 76%;
  left: 36.57%;
}

.tweetd {
  position:absolute;
  top: 76%;
  left: 56%;
}
.twet {
  position: absolute;
  top: 82%;
  left: 57%;
}

.myclass a {
  color:white;
}

.white-text a {
  color:cyan;
}

.fourvw{
  font-size: 4vw !important;
}

.buttonvw{
  font-size: 1.3vw !important;
}


#img {
  height: 450px;
  width: 88%;
}

.email {
  left: 10px;
}

.team {
  position: absolute;
  top: 50px;
  left: 30.4%;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
}

.emailon {
  position:absolute;
  top:12%;
  left:36%;
}

.passon {
  position:absolute;
  top:12%;
  left:60%;
}

.inlin {
  display:inline;
}

.flo {
  float:right;
}

.paddin {
  margin:2%;
  font-size:120%;
}

.bck{
    background-image: image-url('lotsmix.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.imageback {
   position: relative;
}

.textonpic {
   position: absolute;
   top: 13%;
   left: 15%;
}

#heigh {
  height:100%;
  width:100%;
  display: fixed;
}

.ooooh {
  margin:2% 2% 2% 2%;
}

.abso {
  position:absolute;
  top:30%;
  margin-left:15%;
}

.tex {
  color:white!important;
}

.nav-suff {
  margin-left: 18px;
  margin-top: 21.500px!important;
}

.z {
  z-index: 0;
}

.zi {
  z-index: 10;
}

.ab {
position: absolute;
}

.image {

}

.mixx{
  height: 115px;
}

.anchor {
  right: 15px;
}

.sam {
  margin-left: 23%;
}

#cardHolder{

  display: none;
}


.purp{
  background-color: #896891;
}

.purpl{
  color: #5F1375;
}

.white{
  color: white;
}

.player {
  width: 50%;
  height: 100px;
  position: fixed;
  vertical-align: left;
  z-index: 10;
  bottom: 0px;
  border: 4px solid cyan;
  left: 26%;
  /*height: 100px;*/
  /*vertical-align: left;*/
  /*background-color: #000000;*/

}

.marginn {
  margin-left:10px;
}


.noah {
  left: 60%;
}

.over {
  overflow-y: auto;
}

.row .col.l4 {
    width: 32.33333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s6 {
    width: 49% !important;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-right: 1% !important;
}

.blubtn{
  background-color: #00769C;
}

.whitet {
  color: white!important;
}


.rightbot {
  float: right;
  top: 10px;
}

.pictur {
  width: 5px;
  height: 5px;
}

#UserLog {
  width: 95% !important;
  position: initial;
}

.logout {
  margin-left: 2px !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  height: 17% !important;
  width: 65%;
  padding: 0 0 !important;
  font-size: 1.3vw !important;
}

.log{
  float:right;
  padding-right:5%;
  padding-left:20px;
}

.push {
  margin-left: 1px;
}

.pushlot {
  margin-left: 70px;
}

.socialicon {
  position: fixed;
  bottom: 0px;
  right: 12.25%;
}

.socialicon2 {
  position: fixed;
  top: 25%;
  right: 4%;
}

.mix {
  position: fixed;
  bottom: 0px;
  left: 11.5%;
}

.socialright {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 15%;
  height: 205px;
  background-color:#F0F0F0;
  border: 5px solid #201025
}

.mix-color{
  background-color: #F0F0F0;
}

.iframe{
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
}

.right {
  float: right;
}

.stupid {
  text-decoration-color: gray;
}
.nav4 {
  margin-right:1%;
}
.marg {
  margin-right: 2%;
}
.nav1 {
  margin-right: 2%;
}
.nav2 {
  margin-right: 2%;
}
.nav3 {
  margin-right: 2%;
}

.home-body{
  background-image: url("background_image.jpg");
  background-repeat: repeat-xy;
}

body {
  background: #896891; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5E1175, #896891); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5E1175, #896891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.trublue {
  background: #576CDB; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #576CDB , #717CCE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #576CDB , #717CCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-glow-hover{
  color: #fff;
}

.text-glow-hover:hover{
  text-shadow: 0 0 10px #fff;
}

.def{
  background: url("real_b.png");

}

.border {
 border: 80px solid grey;
}

.backround {
  background-color: darkturquoise;
  color: white;
}

.borderr {
  border: 20px solid darkturquoise;
}

.bigger {
  font-size: 18px;
  position:relative;
}

.bottomleft {
    position: fixed;
    font-size: 18px;
    bottom: 0px;
    left: 16px;
}

.logo{
  height: 102%;
  margin-top: 0.5%;
}

.buttonnav{
  margin:8px 10px;
}

.pic{
  height: 50%;
  width: 50%;
}

.card-panel{
  background-color: trublu !important;
}

.salt{
  font-family: 'Rock Salt', serif;
}

.banger{
  font-family: 'Bangers', serif;
}

.inner{
  display: inline;
}

#FAQ{
  margin-right: 95px;
}


#crd-txt{
  font-size: 1.2vw !important;
}

.rounded{
  border-radius: 10px;
}
