
img {
  border: 0px;
}

.hidden {
  display: none;
  height: 0px;
  width: 0px;
}

.invisible {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#logo-login {
  margin: 20px;
}

#twitter-login {
  color: black;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}

#email-login {
  font-size: 25px;
  padding: 21px;
}

#signup-button {
  width: 222px;
  height: 50px;
}

#separator {
  padding: 5px;
}

#target {
  height: 200;
  background-size: 200px;
  background-repeat: no-repeat;
  margin-top: 60px;
}

.form-box {
  width: 520px !important;
  margin-left: 60px;  
}

.centered {
  text-align: center;
}

.margin {
  margin: 5px;
}

.new-account-form {
  color: black;
  background-color:white;
  border:solid;
  border-width:2px;
  height:20px;
  text-indent:5px;
}

.smallnav {
  padding: 0px 0px 0px 0px !important;
}

.message {
  color: red;
}

.away-from-edge {
  margin-left: 10px;
}

.upload-picture {
  position: relative;
  width: 500px;
  left: 23px;
}

@media all {
 .big-form {
  font-size: 2rem !important;
  width: 500px !important;
 }
 .img-upload {
  height: 40px;
  padding-top: 10px;
 }

}