
img {
  border: 0px;
}

.hidden {
  display: none;
  height: 0px;
  width: 0px;
}

.invisible {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#biography {
  position: absolute;
}

#logo-login {
  margin: 20px;
}

#twitter-login {
  color: black;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}

#email-login {
  font-size: 25px;
  padding: 21px;
}

#signup-button {
  width: 222px;
  height: 50px;
}

#separator {
  padding: 5px;
}

#selected-songs-placeholder {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 10px;
}

#target {
  height: 200;
  background-size: 200px;
  background-repeat: no-repeat;
  margin-top: 60px;
}

.check-box {
  display:none;
}

.check-box + label {
    background: #999;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.check-box:checked + label {
    background: #0080FF;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.search-placeholder{
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 10px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  border-radius: 5px;
  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*-webkit-background-clip: padding-box;*/
  /*-moz-background-clip: padding;*/
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

}

.form-box {
  width: 520px; /*!important;*/
  margin-left: 60px;  
}

.centered {
  text-align: center;
}

.margin {
  margin: 5px;
}

.new-account-form {
  color: black;
  background-color:white;
  border:solid;
  border-width:2px;
  height:20px;
  text-indent:5px;
}

.smallnav {
  padding: 0px 0px 0px 0px; /*!important*/
}

.message {
  color: red;
}

.away-from-edge {
  margin-left: 10px;
}

.upload-picture {
  position: relative;
  width: 500px;
  left: 23px;
}

.left-justify {
  left: 20px; /*!important*/
}

.nocolor {
  background-color: transparent; /*!important*/
}

.pick-song-image {
  background-image: url('/pick-song-image.png'); /*!important*/
}

.hidden-desktop {
  display: none;
}

.large-search {
  height: 40px;
  width: 400px;
  font-size: 28px;
}

.searchLabel {
  margin-top: 140px;
}

@media all {
 .big-form {
  font-size: 2rem; /*!important*/
  width: 500px; /*!important*/
 }
 .img-upload {
  height: 40px;
  padding-top: 10px;
 }

}

.hidden-mobile { 
  display: none;
}
/*@media (max-width: 990px) {
  .hidden-mobile { 
    display: none;
  }
}*/