
.invisible {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.check-box-hidden {
  position: absolute;
  width: 70px;
  height: 70px
}

.inline-container {
  float: left;
  width: 19%;
  margin-left: 6%;
}

.artist-label {
  margin-left: 200px;
}

.image-label {
  position: relative;
  width: 70px;
  height: 70px;
}

#biography {
  position: absolute;
}

#logo-login {
  margin: 20px;
}

#twitter-login {
  color: black;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}

#email-login {
  font-size: 25px;
  padding: 21px;
}

#signup-button {
  width: 222px;
  height: 50px;
}

#separator {
  padding: 5px;
}

#selected-songs-placeholder {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 10px;
}

#target {
  height: 200;
  background-size: 200px;
  background-repeat: no-repeat;
  margin-top: 60px;
}

#view-signup{
  float: none;
}

#display-sign-in{
}

#show-artist{
  margin-top: 300px;
}

.noscroll{
  overflow: hidden;
}

#player {
  height: 120px;
  width: 440px;
}

.checkbox {
  display: none;
  position: relative;
}

.checkbox-label {
  position: absolute;
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;

}

.mysong-label {
  position: absolute;
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;

  margin-top: -70px;
}

.mysong-main {
  position: absolute;
  background-size: 170px 170px;
  height: 170px;
  width: 710px;
  background-repeat: no-repeat;

  margin-top: 170px;
  margin-left: 20px;
}

.notification-spacing {
  margin-top: 170px;
}

/*.check-box + label {
    background: #999;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.check-box:checked + label {
    background: #0080FF;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}*/

.error{
  color: red !important;
  font-size: 18px;
  text-indent: 10px;
  float: none !important;
}

label.active{
}

#username-field-error::after { 
    content: "Username Taken";
    color: red;
    font-weight: bold;
    opacity: 0;
    margin-top: 250px;
}

.indented{
  text-indent: 10px;
}

.search-placeholder{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.stick-bottom{
  position: fixed;
  bottom: 0;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  border-radius: 5px;
  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*-webkit-background-clip: padding-box;*/
  /*-moz-background-clip: padding;*/
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

}

.form-box {
  width: 520px; /*!important;*/
  margin-left: 60px;  
}

.centered {
  text-align: center;
}

.margin {
  margin: 5px;
}

.new-user {
  text-indent: 10px !important;
}

.new-account-form {
  color: black;
  background-color:white;
  border:solid;
  border-width:2px;
  height:20px;
  text-indent:5px;
}

.smallnav {
  padding: 0px 0px 0px 0px; /*!important*/
}

.message {
  color: red;
}

.away-from-edge {
  margin-left: 10px !important;
}

.upload-picture {
  position: relative;
  width: 500px;
  left: 23px;
}

.left-justify {
  margin-left:10px;
}

.nocolor {
  background-color: transparent; /*!important*/
}

.pick-song-image {
  background-image: url('/pick-song-image.png'); /*!important*/
}

.hidden-desktop {
  display: none;
}

.large-search {
  height: 40px;
  width: 400px;
  font-size: 28px;
}

.searchLabel {
  margin-top: 140px;
}

.selected-result-container {
  display: inline;
}

.selected-songs-container {
  margin-top: 150px;
}

.clearBoth {
  clear: both;
}

.listen-to-song-button {
  margin-top: 165px;
}

.not-bold {
  font-weight: normal;
}

.change-profile-pic {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url('twitter-change-profile-picture-3.png');
  padding-top: 20%;
  margin-left: 35%;
}

.add-bio-pic {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url('add-bio.png');
  padding-top: 50%;
  margin-left: 10%;
  margin-top: 5%;
}

.cursor-pic {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url('cursor.gif');
  padding-top: 20%;
  margin-left: 35%;
}

@media all {
 .big-form {
  font-size: 2rem; /*!important*/
  width: 500px; /*!important*/
 }
 .img-upload {
  height: 34px;
  padding-top: 10px;
 }
}

.hidden-mobile { 
  display: none;
}
/*@media (max-width: 990px) {
  .hidden-mobile { 
    display: none;
  }
}*/

.hidden {
  display: none;
  height: 0px;
  width: 0px;
}

.hidden-button {
  display: none;
}