%nav
  .nav-wrapper.z-depth-3.cyan.bott
    %a{:href => "#"}= image_tag("Tmix_logo_small_text_and_skull.png", class: "logo")
    %ul#nav-mobile.right
      %li
        %a.bigger{:href => "/static_pages/bio"} About Us
      %li
        %a.bigger{:href => "/static_pages/topsongs"} Top Songs
      %li
        %a#FAQ.bigger{:href => "/static_pages/faq"} FAQ
      %li
        .btn#UserLog.logout.waves-effect.waves-light.center= link_to 'Logout', destroy_user_session_path, method: 'delete', class: "white-text"