%nav
  .nav-wrapper.z-depth-3.cyan.bott
    %ul#nav-mobile.right
      %li
        %a.moove.bigger{:href => "static_pages/topsongs"} Top Songs
      %li
        .btn#UserLog.logout.waves-effect.waves-light.center= link_to 'Logout', destroy_user_session_path, method: 'delete', class: "white-text"
