#nav
  .contents
    %img#logo.left-justify{:src => "http://cheshirepus.com/mysongis_logo.png"}
      #login-container
        =link_to "Logout", destroy_user_session_path, :method => :delete, :class => "logout-button"